@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Baloo 2', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #888; */
    /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    /* border-radius: 3px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}