@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .hero {
    @apply mb-8 text-white;
  }
}


/* Social Box Styling */
.social .socBox {
  @apply px-5 py-3 mb-3 text-white;
}
.social .socBox i {
  @apply mr-5;
}
.social .socBox span {
  @apply font-medium;
}
.social .socBox:nth-child(1) {
  @apply bg-blue-600;
}
.social .socBox:nth-child(2) {
  @apply bg-red-600;
}
.social .socBox:nth-child(3) {
  @apply bg-blue-400;
}
.social .socBox:nth-child(4) {
  @apply bg-purple-600;
}
.social .socBox:nth-child(5) {
  @apply bg-red-500;
}

/* Subscribe Section */
.subscribe {
  @apply border border-black p-5 text-center;
}
.subscribe h1 {
  @apply text-left text-xl;
}
.subscribe input {
  @apply w-full p-3;
}
.subscribe button {
  @apply w-full p-3 mt-5 bg-red-600 text-white font-semibold border-none;
}

/* Gallery Section */
.gallery .img {
  @apply w-80 h-50;
}
.gallery img {
  @apply w-80 h-50 object-cover;
}

@media screen and (max-width: 768px) {
  .gallery img,
  .gallery .img {
    @apply w-full h-100;
  }
}

